.parentContainer {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;

}

.searchContainer, .cocktailContainer {
    padding: 20px;
    flex-basis:  50%;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.searchContainer > * {
    flex-basis: 100%;
    flex: 1;
}

input {
    width: 100%;
    max-width: 300px;

}

.buttonsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    padding: 10px;
    min-width: 120px;
    border-radius: 5px;
    margin-top: 20px;
}

input {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}

.backgroundContainer {
    background-color: #f0ead6;
    border-radius: 20px;
}